
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Oswald:wght@700&display=swap');

$base-color: rgb(65, 228, 174);

*,*:before, *:after {

    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
}


body{
    background-color: rgb(24, 21, 21);
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 75px;
    color: white;
    align-items: center;
    justify-items: center;

    .intro-img, .intro,  .intro-carro{
        width: 50%;
    }

    img{
        margin-left: 50px;
    }

    .intro-contact{
      display: flex;
      width: 30%;
      margin: auto;
      flex-direction: column;
    }
}

hr{
    border-top: 5px dashed $base-color;
    width: 50%;
    margin: auto;
    
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

img{
    width: 500px;
}
.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    padding: 75px;
    font-family: 'Montserrat', sans-serif;
    color: white;

    .menuBtn{
      display: none;
      color: white;
      font-size: 30px;
      cursor: pointer;
  }
    &.sticky{
      padding: 15px 45px;
      align-items: center;
      background: black;
      z-index: 2;
    }
    ul{
        display: flex;
        list-style: none;
        gap: 100px;
        color: WHITE;
    }
  

    a:visited{
        color: white;
    }
    li a:hover, li:hover{
      color: $base-color;
      transform: scale(1.5);
      cursor: pointer;
    }
    li a{
        text-decoration: none;
        list-style: none;
        color: white;
    }
    span{
        font-size: 40px;
        font-weight: bold;
        color: white;
    }

    span:hover{
        cursor: pointer;
        
    }

    .logo-color{
        color: $base-color;
    }

  

   
}

.container{
    
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;

    .intro, .intro-video{
        color: white;
        margin-top: 200px;
        z-index: 1;
        width: 50%;
        padding: 75px;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        position: relative;
    }

   

    .intro-subtitle{
        color: $base-color;
    }

    .intro-video video{
        border-top: 15px solid $base-color;
        border-left: 15px solid $base-color;
    }
}


.intro-carro{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  

  .display-card{
    display: flex;
    position: absolute;
    top: 375px;
    justify-content: space-between;
    width: 470px;  
    height: 40px;  
    align-items: center;
    z-index: 5;
  }

  i{
    align-self: center;
    font-size:50px;
    cursor: pointer;
    color: #FF013C;
    background-color: black;
    height: 70px;
    padding: 5px;
  }
  i:hover{
    color: $base-color;
    transform: scale(1.5);
  }

  i:active{
    color:rgb(214, 214, 33);
  }

  
  .carro{
    background-color: #fff;
    width: 350px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    display: none;
    

    &.active{
      display: flex;
    }
  }

  img{
    
    filter: contrast(150%);
  }
  .top-card{
    overflow: hidden;
    height: 300px;
    width: 400px;
    left: -75px;
    position: absolute;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);
  }

  .bot-card{
    color: black;
    position: absolute;
    height: 200px;
    top:300px;
    width: 350px;
    padding: 15px;
  }

  h1{
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 35px;
  }
  p{
    margin-top: 15px;
  }


}

.form{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  label{
    margin-bottom: 5px;

  }

  input{
    margin-bottom: 15px;
    padding: 5px;
  }
  textarea{
    margin-bottom: 50px;
    padding: 5px;
    resize: none;
  }

  &:last-child{
    align-self: center;
  }

 
}

button, button::after {
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px $base-color;
    outline: transparent;
    position: relative;
    cursor: pointer;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

footer{
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer{
    color: white;

    i{
      font-size: 30px;
      margin-right: 15px;

      &:hover{
        cursor: pointer;
        color: $base-color;
        transform: scale(1.5);
      }
      &:active{
        color:#FF013C;
      }
    }
  }


}

// MEDIA QUERIES

@media all and (max-width:1270px){

  .intro-img img{
    width: 90%;
  }
  .container{
    display: flex;
    align-items: center;
  }
  .intro-video video{
    width: 90%;
    height: 200px;
  }

}

@media all and (max-width:1160px){

  .intro-img img{
    width: 80%;
  }

  .container{
    display: flex;
    align-items: center;
  }
  .intro-video video{
    width: 80%;
    height: 150px;
    
  }

}

@media all and (max-width:1000px){

  button{
    width: 280px;
  }

}

@media all and (max-width:900px){

  .news{
    flex-direction: column;

    .intro p{
      display: none;
    }

    button{
      display: none;
    }
  }
  .container .intro{
    width: 100%;
  }
  .intro-video{
    display: none;
  }

}

@media all and (max-width:870px){

  .intro-carro .carro{
    min-width: 300px;
  }
  .navbar .menu-list{
    display: none;
  }
  .navbar .menuBtn{
    display: block;
    color: white;
  }
}
@media all and (max-width:680px){
.intro-carro .top-card{
  max-width: 325px;
  left: -65px;
}

.intro-carro .display-card{
  max-width: 350px;
}

.intro{
  width: 100%;
}

.about p, .about img, section .intro-img{
  display: none;
}
}

@media all and (max-width:400px){

  .display-card i {
    font-size: 30px;
    max-width: 300px;
    }

    h1{
      font-size: 50px;
    }

    section, .container .intro, .navbar{
      padding: 30px;
    }

    .navbar .menuBtn{
      margin-right: 50px;
    }
}